* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  position: relative;
}

body {
  margin: 0;
  background-color: #000000;
  color: #d4d4d4;
  /* position: relative; */
}

/* ----------------- nav bar ------------------- */
.logo {
  position: relative;
  top: -0.5rem;
  height: 5.5rem;
}
.container-main {
  /* position: sticky;
  top: 0;
  z-index: 10; */
  display: grid;
  /* grid-template-columns: repeat(5, auto); */
  grid-template-areas:
    "logo nav1 nav1 nav1 nav1"
    "nav2 nav2 nav2 nav2 nav2"
    "side cont cont cont cont";
}
.nav-logo {
  position: sticky;
  top: 0;
  z-index: 10;
  grid-area: logo;
  display: flex;
  place-content: center;
    background-color: #dde1e1;
    width: 20rem;

}
.nav-1 {
  position: sticky;
  top: 0;
  z-index: 9;
  grid-area: nav1;

    display: flex;
    background-color: #dde1e1;
    place-content: center;
 
    margin-left: -12.5rem;
    
    align-items: center;
}
.nav-2 {
  transition: 1s;
  position: sticky;
  top: 5.5rem;
  /* z-index: 10; */
  grid-area: nav2;
  position: sticky;
  /* top: 0; */
  z-index: 10;
  /* background-color: #c5c4c4; */
  background-color: #dde1e1;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5,auto);
  /* grid-template-columns: repeat(auto-fit, minmax(70px, auto)); */
  /* grid-template-areas: "nav nav2 nav2 nav2 nav2"; */
  height: 5rem;
  place-items: center;
  font-size: 22px;
  /* justify-content: space-evenly; */
  /* width: 100vw; */

}

.btn-cart {
  height: 40px;
  line-height: inherit;
  /* width: 110px; */
  /* width: fit-content; */
  /* border: 2px solid black; */
  border-radius: 9px;
  /* padding-left: 18px; */
  font-size: 22px;
  margin: auto;
  cursor: pointer;
}

.btn-cart {
  /* border: none;
  background-color: transparent; */
  & i {
    color: #494b4b;
    font-size: 45px;
  }
  & span {
    margin: 4px;
  }
}
#cart_number {
  position: absolute;
  top: 3px;
  translate: -36px;
  min-height: 32px;
  min-width: 32px;
  padding: 3px;
  text-align: center;
  background-color: #e7e5e5;
  border: 2px solid black;
  border-radius: 50%;
  /* margin: auto; */
  font-size: 20px;
}
.btn:hover {
  /* color-scheme:; */
  background-color: #fff;
  color: #eceaec;
  background-color: #1a0b1d;
}

/*  ----------------------- side bar ----------------------- */
.side-bar {
  position: fixed;
  top: 10.5rem;
  grid-area: side;
  width: 20rem;
  /* position: static; */
  /* left: 10px; */
  /* background-color: #4e4d4d; */
  
  /* height: 100vh; */
}

.side-bar .side-tabs{
  box-sizing: border-box;
    background-color: #a4a1a1;
    color: #ffffff;
    display: flex;
    height: 17vh;
    font-size: 2.9rem;
    place-content: center;
    cursor: pointer;
    transition: .8s;
    align-items: center;
    text-decoration: none;
    /* background-color: #0e0b0b; */
    box-shadow: 1px 1px 8px 1px gray;
    border-radius: 10px;
    background-color: #202020;
}
.side-tabs:hover{
  background-color: #4a4a4a;
  color: #fefefe;
  font-size: 3rem;
}

/* ------------------  home page --------------------- */
.home-main-section{
  grid-area: cont;
}
.home-main-section p{
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: justify;
  padding: 10%;
  align-items: center;
}



.content {
  font-size: 1.32rem;
  color: #9a9e9e;
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
  padding-left: 0;
  /* background-color: #f80303; */
  font-size: 1.4rem;
  /* display: none; */
}








.input {
  font-size: 18px;
  
  margin: auto;
  width: 19vmax;
}
.input i {
  position: absolute;
  color: black;
  line-height: 10px;
  margin: 10px;
}

.hamburger {
  display: none;
  /* background-color: #f405e4; */
  height: auto;
  width: auto;
  font-size: 2rem;
  color: #000000;
}

/* --------------------- login Page ---------------------- */

#login_page {
  

  /* margin-left: -12.5rem; */ 
  margin: 5%;
    grid-area: cont;
    width: 50vw;
    height: 60vh;
    /* background-color: #9e9898; */
    background-color: #0e0b0b;
    box-shadow: 1px 1px 8px 1px #7f4b5f;
    box-shadow: 1px 1px 8px 1px gray;
    border-radius: 12px;
    background-color: #202020;
}


.heading {
  text-align: center;
  color: #28dbd5;
  color: #360649;
  color: #73fdfd;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: #111111; */
  margin: 5%;

  
  & label {
    margin: 2rem;
    font-size: 22px;
  }
  & button {
    margin-left: 2rem;
    /* font-size: 22px; */
  }
}
.input-form {
  background-color: #dad8d8;
  height: 30px;
  font-size: 15px;
  border: 2px solid black red;
  border-radius: 8px;
  padding-left: 8px;
}
.input-form:hover {
  background-color: #f7f4f4;
  color: #30012c;
}
.btn-login-form{
  padding: 2px;
  margin: 3%;

}
.btn-login{
  font-size: 18px;
    width: 6rem;
    border: 2px solid #000000;
    padding: 5px;
    transition: 0.8s;
    border-radius: 5px;
  
}
.btn-login:hover{
  font-size: 18px;
  background-color: #d3d0d0;
  cursor: pointer;

}

